h2{
    margin: 2rem;
    text-align: center;
    font-family:monospace;
    font-weight: 600;
    color: rgb(76, 76, 76);
}
.top{
    display: flex;
    gap: 30px;
}
.block-container{
    display: flex;
    flex-direction: column;
}